{% extends 'base.html.twig' %}

 {% block body %}

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="./" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('/img/favicon.png') }}" height="24" alt="Logo O'foot">
                <span class="header-logo__title">O'foot</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="./list.html"><i class="bi bi-film"></i> Liste des joueurs </a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <span>Jean-Philippe</span>
                            <i class="bi bi-person-square"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Profil</a></li>
                            <li><a class="dropdown-item" href="#">Backoffice</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>

                <button type="button" class="btn btn-danger me-2">Connexion</button>

                <form class="d-flex" action="list.html">
                    <input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Rechercher...">
                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>

    <!-- main -->
    <div class="my-5 py-5 text-center">
        <img src="favicon.png" height="100" alt="Logo O'flix" class="mb-3">
        <h1 class="display-6 fw-bold">Les meilleurs joueurs</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-muted">A vous de désigner votre joueur préféré !</p>
        </div>
    </div>

    <div class="container-xl bg-light p-5 border-top">

        <div class="row mb-2">

            <div class="col-12 col-lg-3">
                <h2 class="text-center text-muted fw-bold mb-4">Les postes</h2>
                <ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center">
                    <li class="btn btn-sm btn-outline-danger mx-1 mb-2">Gardien</li>
                    <li class="btn btn-sm btn-outline-danger mx-1 mb-2">Défenseur Latéral</li>
                    <li class="btn btn-sm btn-outline-danger mx-1 mb-2">Défenseur Central</li>
                    <li class="btn btn-sm btn-outline-danger mx-1 mb-2">Milieu de terrain défensif</li>
                    <li class="btn btn-sm btn-outline-danger mx-1 mb-2">Milieu de terrain offensif</li>
                    <li class="btn btn-sm btn-outline-danger mx-1 mb-2">Attaquant</li>
                    <li class="btn btn-sm btn-outline-danger mx-1 mb-2">Avant Centre</li
                </ul>
            </div>

            <div class="col-12 col-lg-9">

                <h2 class="text-muted fw-bold mb-4">Les joueurs/Résultats de recherche</h2>

                 {% for currentPlayer in playerList %}
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
                    <div class="col-4 movie__poster" style="background-image: url({{ currentPlayer.PlayerPicture }}">
                        <img src="{{ asset('/img/poster-square-placeholder.png') }}" class="img-fluid">
                        <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                    </div>
                    <div class="col-8 p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ currentPlayer.position }}</strong>
                        <h3 class="mb-1">{{ currentPlayer.firstname }} {{ currentPlayer.lastname }}</h3>
                        <div class="mb-1 text-muted">{{ currentPlayer.DateOfBirth|date('Y-m-d') }}</div>
            
                        <div class="d-flex" style="color: orange;">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <span class="ps-1">4.8</span>
                        </div>
                        <a href="{{ path('app_player_read', { id: currentPlayer.id }) }}" class="fs-1 mt-3 text-danger align-self-start">
                            <i class="bi bi-arrow-right-square"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
                

            <nav class="col-lg-9 offset-lg-3">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>
{% endblock %}

 