{% extends 'base.html.twig' %}

{% block body %}

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fecc00;">
        <div class="container-fluid">
            <a href="./" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('/img/favicon.png') }}" height="24" alt="Logo O'footuj">
                <span class="header-logo__title text-dark">O'foot</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_player_browse') }}"><i class="bi bi-film"></i> Liste des joueurs </a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <span>Jean-Philippe</span>
                            <i class="bi bi-person-square"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Profil</a></li>
                            <li><a class="dropdown-item" href="#">Backoffice</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>

                <button type="button" class="btn btn-dark me-2">Connexion</button>

                <form class="d-flex">
                    <input class="form-control form-control-sm me-2" name="search" type="search"
                        placeholder="Rechercher...">
                    <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>

    <!-- main -->

    <div class="container bg-lighttt pt-5">

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 border rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    <div class="col-4 movie__poster img-thumbnail"
                        style="background-image: url({{ player.PlayerPicture }}">
                        <img src="{{ asset('/img/poster-placeholder.png') }}" class="img-fluid">
                        <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        <a href="" class="movie__favorite fs-1 my-2 mx-3 link-danger"><i class="bi bi-bookmark-plus"></i></a>
                        <h3 class="mb-1">{{ player.firstname }} {{ player.lastname }}</h3>
                        <div class="mb-1 text-muted">{{ player.DateOfBirth|date('Y-m-d') }}</div>
                        <div class="mb-1 text-muted">{{ player.Country }}</div>
                        <p>
                            <span class="badge bg-warning text-dark">{{ player.position }}</span>
                        </p>
                        <strong>Club :</strong>
                    <ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center">
                     {% for playerClubYear in player.playerClubYears %}
                        <li >{{ playerClubYear.club.name }} ({{ playerClubYear.year }})</li>
                    {% endfor %}
                    </ul>
                        

                        <div class="d-flex mb-4" style="color: orange;">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <span class="ps-1">4.8</span>
                        </div>

                        <h2>Palmarès</h2>
                        <ul class="list-unstyled">
                         {% for trophy in player.trophies %}
                            <li><span class="badge bg-danger fs-6 mb-2">{{ trophy.trophyName }}</span><small class="ms-1">({{ trophy.year }})</small></li>
                        {% endfor %}
                        </ul>

                        <dl class="row">
                            <dt class="col-sm-12">Statistiques</dt>
                            <dd class="col-sm-12">
                                Buts ({{ player.goals | length ? player.goals[0].goalsNumber : 0 }})<br>
                                Passes décisives ({{ player.decisifPasses | length ? player.decisifPasses[0].decisifPassNumber : 0 }})<br>
                            </dd>
                        </dl>

                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
  